body {
	font-family: 'Quattrocento', serif;
	background: #ededed;
}

#map_canvas
{
	height: 400px;
	width: 600px;
	float: right;

}

#searchTextField {
	font-size: 34px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	display: block;
	margin: 20px;
	padding: 10px;
	width: 100%;
	color: #aaa;	
}

#left_panel{
	float: left;
	margin:10px;
	padding:10px;
	width: 300px;
}

.clear_divs{
	clear: both;
}

#login_div{
	display: none;
}

#page_login{
	cursor: pointer;
}

#page_container {
	width:960px;
	margin:0 auto;
}

.left_panel_enduser {
	height: 50px;
	
}

.who_am_i {

}